.idea/vcs.xml
.idea/description.html
.idea/compiler.xml
out/production/FirstJavaFX/sample/sample.fxml
.idea/modules.xml
.idea/gradle.xml
.idea/encodings.xml
FirstJavaFX.iml
.idea/workspace.xml
.idea/misc.xml
out/production/FirstJavaFX/sample/Main.class
out/production/FirstJavaFX/sample/Controller.class
.idea/uiDesigner.xml
